// Here you can add other styles

// ==========================
//  GENERAL
// ==========================
.no-background {
	background: none !important;
}

.no-rounded {
	border-radius: 0;
}

// ==========================
//  FORM
// ==========================

.my-form .row+.row {
	margin-top:0;
}

// Auto Complete
.v-input__slot {
	min-height: 34px !important;
	font-size: 14px;
}

.v-input__append-outer {
	margin: 0 !important
}

.v-select__slot > input {
	font-size: 0.875rem;
	font-weight: 400;
	color: #768192 !important;
}

div.v-input.no-message .v-text-field__details {
	display: none;
}

// Button append input
.button-input {
	padding: 0.35rem 0.75rem;
}

.button-input > svg.c-icon {
	margin: 0 !important;
}

// Switch
.c-switch-slider {
	border-color: #636f83
}

.c-switch-slider::before {
	border-color: #636f83
}

.c-switch-label 
.c-switch-slider::after {
	color: #636f83
}

// ==========================
//  ALERT
// ==========================
.alert-fixed {
	position: fixed;
	top: 7.5em;
	left: 0;
	width: 75%;
	margin-left: 12.5%;
	z-index: 9999;
	text-align: center;
}

// ==========================
//  MODAL
// ==========================
.modal-level-2 > .modal-backdrop {
	z-index: 1060;
}
.modal-level-2 > .modal {
	z-index: 1070;
}
.modal-footer > .btn-nav {
	position: absolute;
	margin: 0.75rem;
}
.modal-footer > .btn-nav.prev {
	left: 0
}
.modal-footer > .btn-nav.next {
	right: 0
}
.modal-content .btn-action {
	margin: 0 auto;
}